page#testsmenu
	root.cardstyle-a
		ol 
			li: a(href="#testcase1") test 1
			li: a(href="#testcase2") tanks
			li: a(href="#testcase3") animations
			li: a(href="#testcase4") physics
			li: a(href="#testcase5") bowling 1
			li: a(href="#testcase6") bowling 2
			li: a(href="#testcase7") bowling 3
			li: a(href="#testcase8") bowling 4: main
			li: a(href="#testcase9") bowling 5
			li: a(href="#splashscreen_bowling_d") bowling splashscreen v0
			li: a(href="#testcase10") tank 0
			li: a(href="#testcase11") vehicle
			li: a(href="#testcase12") boulder
			li: a(href="#testcase13") test 13: navmesh
			li: a(href="#testcase13a") test 13a: navmesh
			li: a(href="#testcase14") test 14: network
			li: a(href="#minigame_a") minigame a
			li: a(href="#blockbreaker") blockbreaker
			li: a(href="#splashscreen_bowling_d240823") bowling splashscreen d240823
page#splashscreen_bowling_d240823: include ../scenes/splashscreen_bowling.pug
page#testcase1
	render.fill-abs
	ui.abs
page#testcase2
	render.fill-abs
	.fill-abs: include ../pawn/joysticks.pug
page#testcase3
	render.fill-abs
page#testcase4
	render.fill-abs
page#testcase5
	render.fill-abs
	.fill-abs: include ../pawn/joysticks.pug
page#testcase6
	render.fill-abs
	.fill-abs: include ../pawn/joysticks.pug
page#testcase7
	render.fill-abs
	.fill-abs: include ../pawn/joysticks.pug
page#testcase8
	render.fill-abs
	.fill-abs: include ../pawn/joysticks.pug
page#testcase9
	render.fill-abs
	.fill-abs: include ../pawn/joysticks.pug
page#testcase10
	render.fill-abs
	.fill-abs: include ../pawn/joysticks.pug
page#testcase11
	render.fill-abs
	.fill-abs: include ../pawn/joysticks.pug
page#testcase12
	render.fill-abs
	.fill-abs: include ../pawn/joysticks.pug
page#testcase13
	render.fill-abs
page#testcase13a
	render.fill-abs
	.fill-abs: include ../pawn/joysticks.pug
page#testcase14
	render.fill-abs
	overlay.gp-onscreen.fill-abs
	overlay.gp-inputs.fill-abs
page#splashscreen_bowling_d
	render.fill-abs
	overlay#ssb_ui.fill-abs
		container#hearts
			pic.heart
			pic.heart
			pic.heart
		container#score
			label.score 111
	overlay#ssb_menu.fill-abs
		label#ssb_scoreboard.scoreboard-style-a ...
		btn#ssb_play_btn.btn-style-a PLAY
	overlay#ssb_joysticks.fill-abs: include ../pawn/joysticks.pug
