#approot .gamepage-a {
  &.state-menu {
    .gp-ui {
      display: none;
    }
  }

  &.state-play {
		.scoreboard-style-a {
      display: none;
		}

		.playbtn {
			opacity: 0;
		}
  }

  .gp-ui {
    display: flex;
		user-select: none;

    container.gp-ui-hearts,
    container.gp-ui-score {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 10px;
      margin: auto;
      margin-top: 0;
      margin-left: 0;
    }

    container.gp-ui-score {
      margin-top: 0;
      margin-right: 0;
      padding: 5px;

      label.score {
        display: flex;
        flex-direction: row;
        &::after {
          margin: auto;
          padding-left: 8px;
          content: "";
          background-image: url("../../assets/pic/star.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 1em;
          height: 1em;
          position: relative;
          display: block;
        }
        font-size: 2em;
        font-family: "Rubik";
        color: #f0c755;
        text-shadow:
          0px 1px #ffe59e,
          0px 3px #c35002;
      }
    }

    container.gp-ui-hearts pic {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      position: relative;
      display: block;

      &.disabled {
        filter: grayscale(1);
      }

      &.heart {
        background-image: url("../../assets/pic/heart.png");
      }
    }
  }

  .gp-menu {
    display: flex;
    flex-direction: column;

    .scoreboard-style-a {
      margin: auto;

      & > div .score {
        display: flex;
        flex-direction: row;

        &::after {
          margin: auto;
          padding-left: 8px;
          content: "";
          background-image: url("../assets/pic/star.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 1em;
          height: 1em;
          position: relative;
          display: block;
        }
      }
    }

    .playbtn {
      margin: auto;
      margin-bottom: 10vh;
      font-size: 2.5em;
      opacity: 0;
      transition-duration: 1s;
      transition-property: opacity;
      font-family: "Rubik";
      text-shadow: 0px 3px #2b917e;
      &.show {
        transition-delay: 1s;
        opacity: 1;
      }
    }
  }
}

// --- older version.

#approot #splashscreen_bowling {
  overlay#ssb_ui {
    display: flex;

    container#hearts,
    container#score {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 10px;
      margin: auto;
      margin-top: 0;
      margin-left: 0;
    }
    container#score {
      margin-top: 0;
      margin-right: 0;
      padding: 5px;

      label.score {
        display: flex;
        flex-direction: row;
        &::after {
          margin: auto;
          padding-left: 8px;
          content: "";
          background-image: url("../assets/pic/star.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 1em;
          height: 1em;
          position: relative;
          display: block;
        }
        font-size: 2em;
        font-family: "Rubik";
        color: #f0c755;
        text-shadow:
          0px 1px #ffe59e,
          0px 3px #c35002;
      }
    }
    pic.heart {
      background-image: url("../assets/pic/heart.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      position: relative;
      display: block;

      &.disabled {
        filter: grayscale(1);
      }
    }
  }
  overlay#ssb_menu {
    display: flex;
    flex-direction: column;

    #ssb_scoreboard {
      margin: auto;

      & > div .score {
        display: flex;
        flex-direction: row;

        &::after {
          margin: auto;
          padding-left: 8px;
          content: "";
          background-image: url("../assets/pic/star.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 1em;
          height: 1em;
          position: relative;
          display: block;
        }
      }
    }

    #ssb_play_btn {
      margin: auto;
      margin-bottom: 10vh;
      font-size: 2.5em;
      opacity: 0;
      transition-duration: 1s;
      transition-property: opacity;
      font-family: "Rubik";
      text-shadow: 0px 3px #2b917e;
      &.show {
        transition-delay: 1s;
        opacity: 1;
      }
    }
  }
}

#approot #blockbreaker {
}

#approot #minigame_a {
  overlay {
    display: flex;
    flex-direction: column;
    font-family: "Rubik";

    #mga_btn {
      margin: auto;
      font-size: min(10vh, 10vw);
    }

    #mga_score {
      font-size: min(35vh, 35vw);
      margin: auto;
    }

    #mga_scoreboard {
      &:before {
        content: "leaderboard:";
      }
      margin: auto;
      display: flex;
      flex-direction: column;
      text-shadow: none;
      color: black;

      & > div {
        background-color: #fff5;
      }
    }

    #mga_time {
      font-size: min(15vh, 15vw);
      //color: #50aacb;
      //text-shadow: 0px 5px #37758c;
      margin: auto;
    }
  }
}

#approot .scoreboard-style-a {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 30vw;
  color: white;
  text-shadow: 1px 1px black;

  & > div {
    display: flex;
    flex-direction: row;
    gap: 1ch;
    background-color: #00000055;
    border-radius: 4px;
    padding: 2px 8px;
    backdrop-filter: blur(8px);

    .score {
      margin-right: 0;
      margin-left: auto;
      &::after {
        content: "p";
      }
    }
  }
}
