.gamepage-a
	render.fill-abs
	overlay.gp-ui.fill-abs
		container.gp-ui-leftgui
			container.gp-ui-hearts
				pic.heart
				pic.heart
				pic.heart
			container.gp-ui-energy
				bar.green
				bar.green
		container.gp-ui-rightgui
			container.gp-ui-score
				label.score 111
	overlay.gp-menu.fill-abs
		label.scoreboard.scoreboard-style-a ...
		btn.superbtn.btn-style-a.purple.show.locked SUPERPOWERS
		btn.playbtn.btn-style-a.show PLAY
