.gamepage-a
	render.fill-abs
	overlay.gp-ui.fill-abs
		container.gp-ui-leftgui
			container.gp-ui-hearts
				pic.heart
				pic.heart
				pic.heart
			container.gp-ui-energy
				bar.green
				bar.green
		container.gp-ui-rightgui
			container.gp-ui-score
				label.score 111
	overlay.gp-menu.fill-abs
		card.gp-card-main.active
			label.scoreboard.scoreboard-style-a ...
			a.btn.backbtn.btn-style-a.black.show BACK
			btn.superbtn.btn-style-a.purple.show.locked(data-popup-locked="Play once to unlock") SUPERPOWERS
			btn.playbtn.btn-style-a.show PLAY
		card.gp-card-superpowers.background
			entry.active
				pic .
				header boring stone
				description you like a stone
				card.gp-card-superpowers.background
		card.gp-card-playlist.background
			a.entry.active(href="dust2")
				pic .
				header dust 2
				description no this just fake element
		btn.menubtn.btn-style-a.show MENU
