.gamepage-a
	render.fill-abs
	overlay.gp-ui.fill-abs
		container.gp-ui-hearts
			pic.heart
			pic.heart
			pic.heart
		container.gp-ui-score
			label.score 111
	overlay.gp-menu.fill-abs
		label.scoreboard.scoreboard-style-a ...
		btn.playbtn.btn-style-a.show PLAY
