#screen_joystic_movement.screen_joystick_root.sj_left
	.screen_joystick
		.screen_joystick_deadzone
	.screen_joystick_pimp

#screen_joystic_attack.screen_joystick_root.sj_right
	.screen_joystick
		.screen_joystick_deadzone
	.screen_joystick_pimp
