page#ds
	p Этот мир добр, он не дает тебе сдохнуть. Окончательная смерть будет твоим и только твоим выбором. Как и не дает провалить…"обучение". Хочешь его прервать? Портал Отказа. Нет? Преподаватели сделают всё, чтобы ты получил необходимые знания, навыки и умения. Но тебе это не понравится, потому что твои интересы и пожелания не учитываются. Скорее, наоборот.
page#doc
	root.document: include:markdown-it(html plugins=['markdown-it-anchor']) index.md
page#log
	root.document: include:markdown-it(html plugins=['markdown-it-anchor']) log.md
page#minigame_a
	overlay.fill-abs
		label#mga_score.label-style-a.color-gold 0
		label#mga_time.label-style-a.color-blue  00:00:00
		label#mga_scoreboard.scoreboard-style-a ...
		btn#mga_btn.btn-style-a SCOREUP
page#blockbreaker.gamepage-a
	render.fill-abs
	overlay#blockbreaker_ui.gp-ui.fill-abs
		container#hearts.gp-ui-hearts
			pic.heart
			pic.heart
			pic.heart
		container#score.gp-ui-score
			label.score 111
	overlay#blockbreaker_menu.gp-menu.fill-abs
		label#blockbreaker_scoreboard.scoreboard.scoreboard-style-a ...
		btn#blockbreaker_playbtn.playbtn.btn-style-a.show PLAY
	overlay#blockbreaker_inputs.gp-inputs.fill-abs
page#mainmenu
	root.cardstyle-a
		h3 ч1. Бег в никуда
		a.btn(href="?#testcase8") 🞂 "boo ling" arena 0
		h3 ч2. Полет не туда
		a.btn(href="?#splashscreen_bowling") 🞂 "boo ling" menu
		h3 ч3. Прыжок на месте
		a.btn(href="?#blockbreaker") 🞂 blockbreaker
		h3 extras
		a.btn(href="#achievements") achievements
		a.btn(href="#settings") settings
		a.btn(href="#testsmenu") tests
page#settings
	root.cardstyle-a
		#btn_render_quality.btn render quality
		#btn_antialias.btn antialias
		#btn_debug.btn debug
page#achievements
	root.cardstyle-a
		.card-h
			img.ico
			name first times
			description открыть приложение на 10 секунд
			progressbar(style="--progress: 50%" data-text="0/10")

decor#splashscreen 
	#parta
	#partfake
	#partb
decor#splashscreen_loading
	header.label-style-a.color-blue Loading...

ui#stats.abs.hidden
	a(href="#mainmenu") menu
	#fps_stat x fps.
	#loading_stat.hidden Loading...
	details
		summary details
		#elapsed_stat.minor 0m0s
		#elapsed_total_stat.minor 0m0s
		#elapsed_play_stat.minor 0m0s
		#elapsed_play_total_stat.minor 0m0s
	details
		summary config
		btn#config_stat_save save
		#config_stat
	#print_stat
