html, body, #approot, page {
	margin: 0;
	width: 100%;
	height: 100%;
}

#approot {
	font-family: "Source Code Pro", "Lucida Console", "Courier New", monospace;
	page {
		display: none;
		position: absolute;
	}
	page:target {
		display: flex;
	}

	.hidden {
		display: none;
	}
}

#approot #stats {
	background-color: #00000055;
	margin: 8px;
	color: white;
	text-shadow: 1px 1px black;
}

#approot #doc {
	max-width: 800px;
  margin: 20px auto;
	flex-direction: column;
	padding: 0 10px;
	position: relative;
}

#approot #mainmenu {
	root {
		margin: auto;
		display: flex;
		flex-direction: column;
		padding: 16px 32px;
		background-color: #00000011;
		border-radius: 4px;
		box-shadow: 0px 0px 4px #00000044;
		min-width: 300px;
	}
}

#approot {
	.fill-abs {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.abs {
		position: absolute;
	}

	ui {
		padding: 8px 16px;
	}
}
