#approot.styled
	page#ds
		p Этот мир добр, он не дает тебе сдохнуть. Окончательная смерть будет твоим и только твоим выбором. Как и не дает провалить…"обучение". Хочешь его прервать? Портал Отказа. Нет? Преподаватели сделают всё, чтобы ты получил необходимые знания, навыки и умения. Но тебе это не понравится, потому что твои интересы и пожелания не учитываются. Скорее, наоборот.
	page#doc
		root.document: include:markdown-it(html plugins=['markdown-it-anchor']) index.md
	page#log
		root.document: include:markdown-it(html plugins=['markdown-it-anchor']) log.md
	page#mainmenu
		root.cardstyle-a
			h3 ч1. Бег в никуда
			a.btn(href="?#testcase8") 🞂 "boo ling": arena zero;
			h3 extras
			a.btn(href="#achievements") achievements
			a.btn(href="#settings") settings
			a.btn(href="#testsmenu") tests
	page#settings
		root.cardstyle-a
			#btn_render_quality.btn render quality
			#btn_antialias.btn antialias
			#btn_debug.btn debug
	page#testsmenu
		root.cardstyle-a
			a(href="#testcase1") test 1
			a(href="?#testcase2") test 2 - tanks
			a(href="?#testcase3") test 3 - animations
			a(href="?#testcase4") test 4 - physics
			a(href="?#testcase5") test 5 - bowling 1
			a(href="?#testcase6") test 6 - bowling 2
			a(href="?#testcase7") test 7 - bowling 3
			a(href="?#testcase8") test 8 - bowling 4: main
			a(href="?#testcase9") test 9 - bowling 5
	page#testcase1
		render.fill-abs
		ui.abs
	page#testcase2
		render.fill-abs
		.fill-abs: include pawn/joysticks.pug
	page#testcase3
		render.fill-abs
	page#testcase4
		render.fill-abs
	page#testcase5
		render.fill-abs
		.fill-abs: include pawn/joysticks.pug
	page#testcase6
		render.fill-abs
		.fill-abs: include pawn/joysticks.pug
	page#testcase7
		render.fill-abs
		.fill-abs: include pawn/joysticks.pug
	page#testcase8
		render.fill-abs
		.fill-abs: include pawn/joysticks.pug
	page#testcase9
		render.fill-abs
		.fill-abs: include pawn/joysticks.pug
	page#achievements
		root.cardstyle-a
			.card-h
				img.ico
				name first times
				description открыть приложение на 10 секунд
				progressbar(style="--progress: 50%" data-text="0/10")

	decor#splashscreen 
		#parta
		#partfake
		#partb
	ui#stats.abs
		a(href="#mainmenu") menu
		#fps_stat x fps.
		#loading_stat.hidden Loading...
		#elapsed_stat.minor 0m0s
		#elapsed_total_stat.minor 0m0s
		#elapsed_play_stat.minor 0m0s
		#elapsed_play_total_stat.minor 0m0s
