html,
body,
#approot,
page {
  margin: 0;
  width: 100%;
  height: 100%;
}

#approot {
  font-family: "Source Code Pro", "Lucida Console", "Courier New", monospace;
  page {
    display: none;
    position: absolute;
  }
  page:target {
    display: flex;
  }

  .hidden {
    display: none;
  }
}

#approot.styled {
  page {
    background-image: radial-gradient(rgb(206, 206, 206) 3%, transparent 5%);
    background-position: 12px 12px;
    background-size: 24px 24px;
    background-color: rgb(255, 255, 255);
  }
}

#approot #stats {
  background-color: #00000055;
  margin: 8px;
  color: white;
  text-shadow: 1px 1px black;

  .minor {
    font-size: 0.7em;
    opacity: 0.9;
    text-shadow: none;
  }
}

#approot page root.document {
  width: 600px;
  max-width: 800px;
  margin: 20px auto;
  flex-direction: column;
  padding: 0 10px;

  iframe {
    width: 100%;
    height: 400px;
  }
}

#approot page {
  .cardstyle-a {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    background-color: #ffffffbb;
    border-radius: 4px;
    box-shadow: 2px 2px 0px #00000044;
    min-width: 300px;

		a {
			transition-duration: 100ms;
			transition-property: letter-spacing; 
			&:hover {
				letter-spacing: 2px;
			}
			color: black;
		}
  }
}

#approot {
  .fill-abs {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .abs {
    position: absolute;
  }

  ui {
    padding: 8px 16px;
  }
}
